<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css/style.css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Content/js/main.js")
    <title>@ViewBag.Title - CarShop</title>
</head>
<body>
    <header id="header">
        <img src="@Url.Content("~/Content/img/header.jpg")" alt="header">
    </header>
    <div class="main">
        <div class="side-bar">
            <ul class="nav">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li><a href="#form">Оформить заказ</a></li>
            </ul>
            <ul class="list">
                @Html.Action("Nav", "Home")
            </ul>
            <div class="map">
                <img src="@Url.Content("~/Content/img/map.jpg")" alt="map">
            </div>
        </div>
        <div class="content">
            <div class="title">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="items">
                @RenderBody()
            </div>
            @Html.Action("Form", "Home")
        </div>
    </div>
    <footer id="footer">
        <h3>Copyrite</h3>
    </footer>
    @RenderSection("Scripts", false)
</body>
</html>